In [1]:
import pandas as pd # dealing with datframes
import numpy # Fast Math
import matplotlib # Graphing
import seaborn as sns # Prettier Graphing
import os
import random
import sklearn

In [2]:
df = pd.read_csv("ww2aircraft.csv")

In [3]:
df.head(2)

,Name,PrimaryRole,Manufacturer,Country,Number,ActiveSince,LastBuilt,Retired,State,Crew,Length,Wingspan,Height,WingArea,MaxSpeed
0,130,Seaplane,Loire Aviation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,143,Medium Bomber,Avions Amiot,France,138.0,1935.0,1937.0,1944.0,Retired,5.0,18.24,24.53,5.68,100.0,295.0

In [4]:
df.describe()

,Number,ActiveSince,LastBuilt,Retired,Crew,Height,WingArea,MaxSpeed
count,321.000000,310.000000,270.000000,300.000000,322.000000,317.000000,315.000000,322.000000
mean,2349.604361,1939.012903,1943.437037,1948.953333,2.909938,4.474767,52.747749,440.968012
std,4568.322880,3.864178,6.163940,9.280711,2.453549,3.066930,54.694519,157.400581
min,1.000000,1924.000000,1932.000000,1931.000000,1.000000,1.160000,3.600000,125.000000
25%,146.000000,1937.000000,1940.250000,1945.000000,1.000000,3.250000,21.910000,325.500000
50%,574.000000,1940.000000,1944.000000,1945.000000,2.000000,3.890000,32.400000,435.950000
75%,1984.000000,1942.000000,1945.000000,1952.000000,4.000000,4.800000,59.500000,549.250000
max,36163.000000,1945.000000,2009.000000,1995.000000,14.000000,32.068000,486.200000,970.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 338 entries, 0 to 337
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          338 non-null    object
 1   PrimaryRole   338 non-null    object
 2   Manufacturer  337 non-null    object
 3   Country       322 non-null    object
 4   Number        321 non-null    float64
 5   ActiveSince   310 non-null    float64
 6   LastBuilt     270 non-null    float64
 7   Retired       300 non-null    float64
 8   State         322 non-null    object
 9   Crew          322 non-null    float64
 10  Length        320 non-null    object
 11  Wingspan      321 non-null    object
 12  Height        317 non-null    float64
 13  WingArea      315 non-null    float64
 14  MaxSpeed      322 non-null    float64
dtypes: float64(8), object(7)
memory usage: 39.7+ KB

In [6]:
# unique values
n = pd.unique(df['Country'])

In [14]:
# count Unieque values
sum_countries = len(pd.unique(df['Country']))
sum_countries

14

In [19]:
# total aircraft entries for each respective country
Aircraft_per_country = df['Country'].value_counts()
Aircraft_per_country

United States     73
Japan             69
Germany           53
United Kingdom    43
Italy             33
Russia            24
France            14
Poland             5
Netherlands        2
Australia          2
China              2
Czechoslovakia     1
Romania            1
Name: Country, dtype: int64

In [20]:
# total of entries in countries Column
sum(df['Country'].value_counts())

322

In [21]:
df['Country'].count()

322

In [22]:
Aircraft_per_country.values

array([73, 69, 53, 43, 33, 24, 14,  5,  2,  2,  2,  1,  1])

ax = sns.barplot(x="x1", y="y1", data=tips,
                 palette="Blues_d")

In [11]:
ax = sns.barplot(x=x1, y=y1, 
                 palette="Blues_d")

NameError: name 'x1' is not defined